.container .title {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0 2rem;
}

.title .query-text {
    color: rgb(255, 208, 0);
    text-transform: uppercase;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.movies-container div {
    width: 30%;
    color: white;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #3d3c3c;
    padding: 1rem;
}

.movies-container div img {
    max-width: 100%;
}

.movies-container div img,
.movies-container div h2,
.movies-container div p {
    margin-bottom: 1rem;
}

.movies-container div svg {
    color: rgb(255, 166, 0);
    font-size: 1.3rem;
}

.movies-container div a {
    background-color: #736A63;
    color: white;
    border: 2px solid #736A63;
    border-radius: 5px;
    padding: 1rem 0.5rem;
    align-items: center;
    transition: .4s;
    text-align: center;
    font-weight: bolder;
}

.movies-container div a:hover {
    background-color: transparent;
    color: white;
}

@media (min-width: 320px) and (max-width: 480px) { 
    .movies-container { 
        display: block;
        margin: 0 auto;
    }

    .movies-container div { 
        width: 100%;
    }

    .container .title {
        color: white;
        font-size: 1.8rem;
        text-align: center;
        margin: 2rem 0 2rem;
    }
}

@media (min-width: 375px) and (max-width: 667px) {
    .movies-container {
            display: block;
            margin: 0 auto;
        }
    
        .movies-container div {
            width: 90%;
            margin: 0 auto;
            margin-bottom: 10px;
        }
    
        .container .title {
            color: white;
            font-size: 1.8rem;
            text-align: center;
            margin: 2rem 0 0.1rem;
        }
}