.movie-page {
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 2rem auto;
    background-color: rgb(59, 57, 57);
}

.movie-page svg {
    font-size: 1.5rem;
    color: #ffae00;
}

.movie-page .movie-card{
    text-align: center;
}

.movie-page .movie-card img{
    width: 90%;
    margin-top: 40px;
}

.movie-page .movie-card img,
.movie-page .movie-card h2,
.movie-page .movie-card p
{
    margin-bottom: 1rem;
}

.movie-page .movie-card h2 {
    font-size: 2rem;
}

.movie-page .movie-card p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
}

.tagline {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    margin-left: 10px;
}

.info {
    margin-bottom: 1.3rem;
    margin-left: 10px;
    padding: 0px 10px;
}

.info h3 {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.description {
    padding-bottom: 5rem;
}

.description p {
    line-height: 1.4rem;
}


@media (min-width: 360px) and (max-width: 800px) {
    .movie-page { 
        max-width: 400px;
        margin: 1rem auto;
        background-color: transparent;
    }

    .movie-page .movie-card img {
        width: 80%;
        margin-top: 40px;
    }

    .tagline {
        text-align: center;
        font-size: 1rem;
    }
}