* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #262524;
    color: white;
}

a {
    text-decoration: none;
    color: #b6b3b1;
    transition: 0.5s;
}

a:hover {
    color: white;
}